
.env
.secrets.env
*.csv

*.mp4
*.mov
*.MOV
*.avi
*.mkv

venv/
*.venv
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage

docker-compose.override.yml
docker-compose.local.yml

.DS_Store

Thumbs.db

*~
*.swp

.vscode/

.idea/