PROJECT_NAME=
EVOLUTION_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_PROVIDER=
DATABASE_CONNECTION_URI=

REDIS_URL=
REDIS_HOST=
CACHE_REDIS_URI=
REDIS_PORT=
REDIS_PASSWORD=

AUTHENTICATION_API_KEY=
INSTANCE_TOKEN=

CORS_ALL=
